*.js.map
*.js
!index.js
*.log
*.trace
!test.trace
*.out
*.pid
*.gz
*.*~

pids
builds/*
!builds/inox.html
!builds/inox.md
!builds/html
!builds/html/*

logs
results

npm-debug.log

node_modules

.vs
site
